
.vs/Multicare_pharmacy/v16/.suo
.vs/Multicare_pharmacy/v16/.suo
bin/Debug/Multicare_pharmacy.exe
obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.pdb
*.exe
*.cache
*.exe
.vs/Multicare_pharmacy/v16/.suo
